/*reset*/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{font-family:'Fredoka One', cursive;}

h1{
    text-align:center;
    color: #E53170;
    margin:30px 0;
}

p{
    margin:30px 20px;

}


/*utils*/
.container{
    margin: 0 auto;
    width: 1200px;
}
.container::after{
    content:"";
    display:table;
    clear:both;
}


.blocks{
    width:350px;
    height:100px;
    background-color: #0F0E17;
    float:left;
    margin:20px;
    
s
}
.blocks::after{
    content:"";
    display:table;
    clear:both;
}
.immagine{
    width:100px;
    height:100px;
    float:left;
}

.testo{
 width:200px;
 color:white;
 float:left;
 padding:1rem;
 line-height: 1.4;
}

.foto{
    width:100%;
}


.testo div:last-child:last-child{
    color: aqua;
}
