/*reset*/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{font-family:'Fredoka One', cursive;}

/*:root{--base;}*/

img {
    float:left;
    max-width: 100px;
}

/*utils*/

.container{
    max-width: 1000px;
    margin:0 auto;
}

#main-text{
    text-align:center;
    color:#E53170 ;
    margin:40px 0;
}

/* .annulla-collasso-genitore(.clearfix)::after 
    clear:both
    content:'';
    display:table; */ 



    
/*generic*/
.clearfix::after{
    clear:both;
    content:"";
    display:table; 
}

.row{
    width: 1000px;
    

}

.column{
    float:left;
    width: calc(100% /3);
}
.subject{
    background-color: #0F0E17;
    color:white;
    width:100%;
    padding:2rem;
    line-height: 1.8;
}
.subject :last-child{
    color:#58CDEF;
}
