/*reset*/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{font-family:'Fredoka One', cursive;}

/*:root{--base;}*/

img {
    max-width:100%;
}

/*utils*/

.container{
    max-width: 1000px;
    margin:0 auto;
}

#main-text{
    text-align:center;
    color:#E53170 ;
}

/* .annulla-collasso-genitore(.clearfix)::after 
    clear:both
    content:'';
    display:table; */ 



    
/*generic*/
.clearfix::after{
    clear:both;
    content:"";
    display:table; 
}

.row{
    width: 1000px;

}

.column{
    background-color: coral;
    float:left;
    width:100% / 3;
}